CONFIG_RISCV=y
CONFIG_ENV_SIZE=0x20000
CONFIG_NR_DRAM_BANKS=1
CONFIG_TARGET_LOWRISC_NEXYS4DDR=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_MISC_INIT_R=n
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_OF_PRIOR_STAGE=n
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_DM_MTD=y
CONFIG_SMP=n
CONFIG_XIP=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_BASE=0x41000000
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_DEBUG_UART_BOARD_INIT=y
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_DEBUG_UART_NS16550_CHECK_ENABLED=y
CONFIG_DEFAULT_DEVICE_TREE="lowrisc_nexys4ddr.dts"
CONFIG_RISCV_MMODE=y
CONFIG_REQUIRE_SERIAL_CONSOLE=y
CONFIG_SERIAL_SEARCH_ALL=y
CONFIG_LOG_MAX_LEVEL=6
CONFIG_SYS_NS16550=y
CONFIG_LOG=y
CONFIG_BLK=y
CONFIG_LOWRISC_PITONSD=y
#CONFIG_SYS_TEXT_BASE=0x87d9a000
CONFIG_SYS_TEXT_BASE=0x80000000
CONFIG_CMD_MD5SUM=y
CONFIG_CMD_DATE=y
CONFIG_CMD_TIME=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_TIMER=y
CONFIG_CMD_UUID=y
CONFIG_LOWRISC_ETH100BASET=y
CONFIG_NET_RANDOM_ETHADDR=n
CONFIG_CMD_SNTP=y
CONFIG_CMD_DNS=y
CONFIG_CMD_RARP=y
CONFIG_CMD_TFTPBOOT=y
CONFIG_CMD_TFTPSRV=y
CONFIG_BOOTP_PXE=n
CONFIG_UPDATE_TFTP=n
CONFIG_CMD_TFTPGET=y
CONFIG_CMD_TFTPPUT=y
CONFIG_BOOTP_TIMEOFFSET=y
CONFIG_EFI_LOADER=n
CONFIG_BOOTDELAY=5
CONFIG_LEGACY_IMAGE_FORMAT=n
CONFIG_SYS_LONGHELP=y
CONFIG_CMD_BDI=y
CONFIG_CMD_ELF=y
CONFIG_LZ4=y
CONFIG_LZMA=y
CONFIG_LZO=y
CONFIG_GZIP=y
CONFIG_ZLIB=y
CONFIG_ZSTD=n
CONFIG_SYS_BOOT_GET_CMDLINE=n
CONFIG_DM_RTC=y
CONFIG_RTC_LOWRISC=y
